{% extends "market/base.html" %}

{% block side %}
<aside class="sidebar">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        {% for category in categories %}
            {% if category.parent is None %}
                <div class="btn-group dropend" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ category.name }}
                    </button>
                    <ul class="dropdown-menu">
                        {% for subcategory in category.subcategories.all %}
                            {% if subcategory.parent == category %}
                                <li><a class="dropdown-item" href="{% url 'market:product_list_by_category' subcategory.slug %}">{{subcategory.name}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</aside>

    {% endblock %}

            {% block content %}
index
            {% endblock %}