{% extends "market/base.html" %}
{% load static %}

{% block content %}
{% if profile_data.avatar %}
<img src="{{ profile_data.avatar.url }}" style="max-width: 150px">
{% else %}
<img src="{% static 'market/images/default_avatar.png' %}" alt="Default Profile Image">
{% endif %}
    <p><b>Имя пользователя:</b> {{profile_data.user.username}}</p>
{% if profile_data.user.first_name %}
    <p><b>Имя:</b> {{profile_data.user.first_name}}</p>
{% endif %}
{% if profile_data.user.lastname %}
    <p><b>Фамилия</b> {{profile_data.user.last_name}}</p>
{% endif %}
{% if profile_data.gender %}
    <p><b>Пол:</b> {{profile_data.gender}}</p>
{% endif %}
    <p><b>Почта:</b> {{ profile_data.user.email }}</p>
{% if profile_data.phone %}
    <p><b>Телефон:</b> {{ profile_data.phone }}</p>
{% endif %}
{% if profile_data.country %}
    <p><b>Страна:</b> {{ profile_data.country }}</p>
{% endif %}
{% if profile_data.city %}
    <p><b>Город:</b> {{ profile_data.city }}</p>
{% endif %}

    <a class="btn btn-primary" href="{% url 'market:update_profile' %}">Редактировать<span class="glyphicon glyphicon-chevron-right"></span></a>
{% endblock %}