{% extends 'market/base.html' %}
{% load static %}
{% block content %}

<form class="d-flex flex-column" method="POST" action="{% url 'market:update_profile' %}" enctype='multipart/form-data'>
        {% csrf_token %}


        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.first_name.label_tag }}
        {{ form.first_name }}

        {{ form.last_name.label_tag }}
        {{ form.last_name }}

        {{ form.password.label_tag }}
        {{ form.password }}

        {{ form.Password_confirm.label_tag }}
        {{ form.Password_confirm }}



        {{ form.Gender.label_tag }}
        {{ form.Gender }}

         {{ form.Phone.label_tag }}
         {{ form.Phone }}



        {{ form.Country.label_tag }}
        {{ form.Country }}

        {{ form.City.label_tag }}
        {{ form.City }}



            {{ form.Avatar.label_tag }}
            {{ form.Avatar }}

    <button class="btn btn-primary" type="submit">Обновить</button>


</form>

{% endblock %}
