{% extends "market/base.html" %}
{% load static %}

<!--    {% if category %}{{ category.title }}{% else %}Products{% endif %}-->

{% block content %}


    <div class="product-wrap" style="width: 50%">
        <a href="{{ product.get_absolute_url }}">
        <h2>{{ product.name }}</h2>
        </a>

            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                {% for image in product.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.alt_text }}">
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

        <p>{{ product.price }}</p>
    </div>

        {{ product.description|linebreaks }}
            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                {% csrf_token %}
                {{cart_product_form}}
                <button type="submit" class="btn btn-outline-primary">Add to cart</button>
            </form>
            <div class="tabs-container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-Характеристики-tab" data-bs-toggle="tab" data-bs-target="#nav-Характеристики" type="button" role="tab" aria-controls="nav-Характеристики" aria-selected="true">Характеристики</button>
                        <button class="nav-link" id="nav-Отзывы-tab" data-bs-toggle="tab" data-bs-target="#nav-Отзывы" type="button" role="tab" aria-controls="nav-Отзывы" aria-selected="false">Отзывы</button>
                        <button class="nav-link" id="nav-Задать_вопрос-tab" data-bs-toggle="tab" data-bs-target="#nav-Задать_вопрос" type="button" role="tab" aria-controls="nav-Задать_вопрос" aria-selected="false">Задать вопрос</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-Характеристики" role="tabpanel" aria-labelledby="nav-Характеристики-tab" tabindex="0">
                         <div class="product-characteristic">
                            <table class="table table-striped">
                                <tbody>
                                {% for characteristic_value in characteristic_values %}
                                    <tr>
                                        <td>{{characteristic_value.characteristic}}</td>
                                        <td>{{characteristic_value.value}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-Отзывы" role="tabpanel" aria-labelledby="nav-Отзывы-tab" tabindex="0">
                        Отзывы
                    </div>
                    <div class="tab-pane fade" id="nav-Задать_вопрос" role="tabpanel" aria-labelledby="nav-Задать_вопрос-tab" tabindex="0">
                        Вопрос
                    </div>

                </div>
            </div>

{% endblock %}
<!--<div class="container row-block">-->
<!--        <span class="container"><h1>{{ product.name }}</h1></span>-->
<!--        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">-->

<!--        <h6><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h6>-->
<!--        <p class="price"><h4>${{ product.price }}</h4></p>-->
<!--        {{ product.description|linebreaks }}-->
<!--        <form action="{% url 'cart:cart_add' product.id %}" method="POST">-->
<!--            {% csrf_token %}-->
<!--            {{cart_product_form}}-->
<!--            <button type="submit" class="btn btn-outline-primary">Add to cart</button>-->
<!--        </form>-->
<!--    </div>-->
