{% extends "market/base.html" %}
{% load static %}

<!--    {% if category %}{{ category.title }}{% else %}Products{% endif %}-->

{% block content %}


    <div class="product-wrap" style="width: 50%">
        <a href="{{ product.get_absolute_url }}">
        <h2>{{ product.name }}</h2>
        </a>

            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                {% for image in product.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.alt_text }}">
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
    </div>


    {{ product.description|linebreaks }}
            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                {% csrf_token %}
                {{cart_product_form}}
                <button type="submit" class="btn btn-outline-primary">Add to cart</button>
            </form>

{% endblock %}
<!--<div class="container row-block">-->
<!--        <span class="container"><h1>{{ product.name }}</h1></span>-->
<!--        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">-->

<!--        <h6><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h6>-->
<!--        <p class="price"><h4>${{ product.price }}</h4></p>-->
<!--        {{ product.description|linebreaks }}-->
<!--        <form action="{% url 'cart:cart_add' product.id %}" method="POST">-->
<!--            {% csrf_token %}-->
<!--            {{cart_product_form}}-->
<!--            <button type="submit" class="btn btn-outline-primary">Add to cart</button>-->
<!--        </form>-->
<!--    </div>-->
