{% extends "market/base.html" %}
{% load static %}


{% block sidefilter %}
{% if not is_wishlist and not search_res and products|length > 1 %}
    {% include 'market/product/filter.html' %}
{% endif %}
{% endblock %}

{% block content %}
{% if is_wishlist %}
<h3 style="border-bottom: 4px solid #293859">Избранное</h3>
{% endif %}
<div class="group-products-wrap">
    {% if products %}
{% for product in products %}
    <div class="product-item">
         <a href="{{ product.get_absolute_url }}">
        <div>
             <img src="{{ product.images.all.0.image.url }}" alt="image">
        </div>

            <h5>{{ product.name }}</h5>
        </a>
        <div class="item-buy">
            <p>{{ product.price }}</p>
            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="update" value="false">
                <button type="submit">Купить</button>
            </form>

        </div>

    </div>
    {% endfor %}
    {% else %}
    <h4>Товаров не найдено</h4>
     {% endif %}

</div>

{% endblock %}