{% extends "market/base.html" %}
{% load static %}
{% block content %}
<div class="order-container">
    <h3>Ваш заказ</h3>
    <ul>
        {% for item in cart %}
        <li>
            <span><b>{{ item.quantity }}</b>x {{ item.product.name }}</span>
<!--            <span style="font-weight: bold;">{{ item.total_price }}</span>-->
        </li>
        {% endfor %}
    </ul>
    <p>Всего: <b>{{ cart.get_total_price }} грн</b></p>

    <form action="." method="post">
        {% csrf_token %}
        <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>
        </div>
            <input type="submit" value="Заказать" style="background-color: #007bff; color: white; border: none; margin-top: 5px; padding: 10px 15px; border-radius: 5px; cursor: pointer;">

    </form>
</div>
{%endblock%}


