{% extends "market/base.html" %}
{% load static %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<div>
    <h3>Ваш заказ</h3>
    <ul>
        {% for item in cart %}
        <li>
            {{ item.quantity }}x {{item.product.name}}
            <span>${{item.total_price}}</span>
        </li>
        {% endfor %}
    </ul>
    <p>Всего: {{ cart.get_total_price }} грн</p>

    <form action="." method="post" style="width: 350px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Заказать">
    </form>
       {% endblock %}

</div>


